{block content}
<br>
	<p><a n:href="Homepage:default" class="btn btn-dark me-1 "> zpět</a></p>
</br>
<h1>Upravit příspěvek</h1>

{control postForm}
{snippet image}
{if $post->image}
<img class="float-start d-block mr-3" src="{$basePath}/{$post->image}">
<a n:href="deleteImage! $post->id" class=" ajax btn btn-primary ">Smazat Obrázek</a>

{/if}{/snippet}
<a n:href="deletePost! $post->id" class="btn btn-danger ">Smazat Příspěvek</a>